/* =========  Foundation CSS overides  ========= */

body {
  background: #000000;
  /*background-image: url("../img/Background_small.png");*/
  background-repeat: no-repeat;
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;}

.th {
  border: none;
  box-shadow: none;
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: all 200ms ease-out; }
  .th:hover, .th:focus {
    box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5); }
  .th.radius {
    border-radius: 3px; }

.title {
	background-color: #008CBA;
}

button:hover, .button:hover {
	background-color: black;
}

/* ========= Nav bar styling ========= */

.inner-wrap {
  width: auto; }

.move-right .inner-wrap {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-left: 114px; }

.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 0;
  height: 100%; }

.move-right .left-off-canvas-menu {
  width: 114px; }

.move-right .exit-off-canvas {
  display: none; }

.left-off-canvas-toggle {
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: #333;
  transition: all .25s ease-in-out; }
  .left-off-canvas-toggle:focus {
    color: #333; }
  .left-off-canvas-toggle:hover {
    color: #8c8c8c;
    transition: all .25s ease-in-out; }

.ad-block {
  margin-bottom: 2rem; }

/* ==== Main styling ==== */

a {
  color: white;
}

h5 {
  color: white;
}

#sidebar {
  background-color: #615F5F;
}

dt {
  display: block;
}


.href {
  color: red;
}

.container {
  margin: 3em auto;
  width: 600px;
}

.hidden {
  display: none;
}

.header {
  display: none;
}

.left {
  float: left;
}

.stack-image {
  background: url('images/stack-icon.png') no-repeat center center;
  width: 200px;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right: 1em;
  border-radius: 5px;
}

.intro {
  margin-bottom: 1em;
}
.stack {
  clear: both;
}

.inspiration { 
  margin-left: 3em;
}

.result {
  border: 1px solid black;
  padding: 5px;
  margin: 0 auto 1em auto;
}

.error {
  background-color: #F78181;
  padding: 1em;
}
