/* =========  Foundation CSS overides  ========= */

body {
  background: #fff;
  /*background-image: url("../img/Background_small.png");*/
  background-repeat: no-repeat;
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative; }

.th {
  border: none;
  box-shadow: none;
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: all 200ms ease-out; }
  .th:hover, .th:focus {
    box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5); }
  .th.radius {
    border-radius: 3px; }

.title {
	background-color: #008CBA;
}

button:hover, .button:hover {
	background-color: black;
}

/* ========= Nav bar styling ========= */

.top-bar {
  text-align: center;
}

ul.center {
  display: inline-block;
  @media only screen and (min-width: 40.063em) {
    margin-left: -4rem;
  }
}

@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: #567;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #567;
    color: #fff;
  }
}

.logo {
  max-width: 4rem;
}


/* =========  App-specific styling  ========= */
#questionContainer {
	display: none;
}

#submit_answer {
	display: none;
}

#info {
	display: none;
}

#results {
	display: none;
}

#next_question {
	display: none;
}

#copyright {
	display: none;
}

#game_over {
	display: none;
}

.button {
	background-color: #567;
}

#results p {
	color: #567;
	font-weight: bold;
}

#copyright p {
	font-size: 7;
}

.footer p {
	display: inline;
	font-size: 12px;
}

#missingAnswerModal h2 {
	color: red;
}

